@media screen and (max-width:576px) {

    /* navbar */
    .nav-page{
        padding: 25px 20px;
    }
  .list1{
    display: none;
  }

/* banner */

  
    /* habit */

    .box-items{
        flex-direction: column;
    }
     
    }

    /* run   */
    @media screen and (max-width: 576px) {
        .run-extra {
          padding: 20px 10px;
        }
      
        .run-extra-mile {
          flex-direction: column;
          margin-left: 0;
          margin-right: 0;
          padding-left: 30px;
          padding-right: 30px;
          gap: 20px;
        }
      
        .run-image {
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;
        }
      
        .heading-extra1 {
          font-size: 32px;
          text-align: start;
        }
      
        .heading-extra-paragraph {
          text-align: start;
          font-size: 14px;
        }
      
        .join1 {
          display: block;
          margin: 20px auto;
          width: 100%;
          max-width: 400px;
        }
      }
      
    
      /* run */
  


