/* nav style */
.heading1{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
  font-style: italic;
}
 .nav-page{
    display: flex;
  align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1060px;
    width: 90%;
    margin: 0 auto;
    padding: 40px  20px;
  }
.home-btn{
    color: white;
    background-color: rgb(230, 83, 60);
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 45px;

}
.list1{
    display: flex;
    gap: 50px;


}

.nav-btn {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }


/* header style */

header{
    background-color: rgb(48, 39, 39);

}