/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* nav style */
.heading1{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
  font-style: italic;
}
 .nav-page{
    display: flex;
  align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1060px;
    width: 90%;
    margin: 0 auto;
    padding: 40px  20px;
  }
.home-btn{
    color: white;
    background-color: rgb(230, 83, 60);
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 45px;

}
.list1{
    display: flex;
    gap: 50px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 40px;
    padding: 4px 4px;
    width: 430px;
    height: 46px;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    
}

.nav-btn {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  


/* header style */

header{
    background :  #111111;;
 

}

/* Banner Style */

.banner {
        display: grid;
        grid-gap: 5%; 
        grid-template-columns: 1fr 1fr; 
        max-width: 1060px;
        width: 90%;
        margin-left: auto; 
        margin-right: auto;
      }
.banner-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
    row-gap: 28px;
}

.banner-heading {
    color: white;
    font-size: 78px;
    font-weight: 900;
  }

  .shape{
 font-weight: 350px;
 font-family: miama;
 font-size: 1.4em;
 line-height: 40px;

  }

  .banner-description{
 color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;

  }

  .join {
    display: inline-block;
    background-color: #e6533c;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
  }

  .download {
    display: inline-block;
    color: white;
    border: 2px solid white;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
  }

  .banner-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  .banner-image img {
    width: 100%;
    max-width: 349px;
  }

  .workout-videos-number {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 16px 24px;
    position: absolute;
    top: 20%;
    right: -10%;
    transform: scale(1);
    opacity: 1;
    animation: animate 3s ease-in-out infinite;
  }

  .workout-videos-number:hover {
    animation-play-state: paused;
  }
  
  .workout-videos-number h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 5px;
  }
  
  .workout-videos-number p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
  }
  
  .tutorial-videos-number {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px 23px;
    gap: 12px;
    position: absolute;
    top: 75%;
    left: 10%;
  
    transform: scale(1);
    opacity: 1;
    animation: animate 3s ease-in-out infinite;
  }
  
  .tutorial-videos-number:hover {
    animation-play-state: paused;
  }
  @keyframes animate {
    0%,
    10%,
    90%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.5);
      opacity: 0;
    }
  }
  
  .tutorial-videos-number img {
    width: 40px;
  }
  
  .videotutorial{
    color: #fafaf9;
    font-size: 24px;
    font-weight: 900;
  }
  
  .video-tutorial {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
  }  

  /* new section  */

  .habit{
    background-color: #000000;
    padding-top: 100px;
}
.habit-content, .habit-box{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.habit-content h1{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2.2rem;
    margin: 0;
}
.habit-content p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 58px;
}
.box-items{
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align: center;
}
.box-item img{
    width: 100%;
}
.box-item-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.box-item h4{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
.box-item p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 14px;
}

/* run-extra   */

.run-image{
  width: 350px;
  height: 260px;
  border-radius: 50px;
  margin: 0 auto;
  align-items: center;
  padding: 20px ;
  padding-right: 0px;
  
}



.run-extra{
  padding: 80px 80px;
  background-color: black;
 

}
.run-extra-mile{
 
 border-radius: 15px;
  background: #222;
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
justify-content: space-between;
padding-right: 50px;
padding-left: 50px;
gap: 70px;
  
}



.heading-extra1{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 800;
  margin-top: 10px;
}
.heading-extra-paragraph{
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;
}

/* BMI */

.bmi-main {
 
  background-color: #000000;
  padding: 5px 30px;
}


.bmi-heading {
  font-size: 3rem;
margin-bottom: 5px;
  color: white;
  margin-left: 400px;
}

.bmi-heading-paragraph {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 400px;
}


.bmi-bg {
  background-color: #222222;
  padding: 1rem 0;
}

.bmi-section {
 max-width: 65.25rem;
 margin: 1rem auto;
}



.bmi-main-section table {
  margin-top: 1rem;
  width: 100%;
  height: 80%;
  border-collapse: collapse;
}



.bmi-main-section {
  justify-content: space-between;
  margin: 0rem 1rem;
  display: flex;
}

.bmi-chart-container {
  width: 35%;
}
.bmi-chart-container td, th {
padding: 1rem;
}

.bmi-calculator-container {

  width: 60%;
  gap: 35px;

}

.bmi-calculator-chart {
 font-size: 1.5rem;
 margin-bottom: 0.7rem;
color: white;
}
.table-heading-bmi{
  color: white;
}

.table-data-bmi{
color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator-container p {
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.bmi-section .bmi-calculator-container input, select {
background: transparent;
background-color: rgba(255, 255, 255, 0.1);
padding: 1rem;
border-radius: 0.5rem;
border: none;

&::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

}

.bmi-cal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.bmi-cal select {
  color: rgba(255, 255, 255, 0.5);
}

.select-activity {
  grid-column: span 2;
}

.cal-button {
  padding: 1rem 3.5rem;
  margin-top: 25px;
}

.bmi-calculator-heading{
  color: white;
}

.bmi-btn{
  gap: 5px;
}

